{% extends "base.html" %}

{% block content %}
    <h1>Iniciar sesión</h1>
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.username.label(class="form-control-label") }}
            {{ form.username(class="form-control form-control-lg") }}
        </div>
        <div class="form-group">
            {{ form.password.label(class="form-control-label") }}
            {{ form.password(class="form-control form-control-lg") }}
        </div>
        <div class="form-group">
            {{ form.remember(class="form-check-input") }}
            {{ form.remember.label(class="form-check-label") }}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
        </div>
        <p>¿No tienes una cuenta? <a href="{{ url_for('registro') }}">Regístrate aquí</a>.</p>
        {{ form.csrf_token }}
    </form>
{% endblock %}